* {margin: 0; padding: 0; border: 0; text-decoration: none; list-style: none}

body {font: normal 14px/14px Arial, sans-serif; color: #777}
.wrap {width: 95%; margin: 0 auto; overflow: hidden}.
.error-message {color: #970000}

/* corner */
.min-corner {-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;}
.corner {-moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px;}
.top-corner {-moz-border-radius-topleft: 8px;-moz-border-radius-topright: 8px; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -khtml-border-top-left-radius: 8px; -khtml-border-top-right-radius: 8px;border-top-left-radius: 8px; border-top-right-radius: 8px;}
.bottom-corner {-moz-border-radius-bottomleft: 8px; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-left-radius: 8px; -webkit-border-bottom-right-radius: 8px; -khtml-border-bottom-left-radius: 8px; -khtml-border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;}
.left-corner {-moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-top-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;}

.ui-datepicker {font-size: 12px !important}

#header {margin: 20px 0}
#header .logo {width: 187px; height: 64px; float: left}
#header .logo a {background: url("../img/logo.jpg") no-repeat; display: block; width: 187px; height: 64px}
#header .logo a span {display: none}
#header .data {background-color: #390086; float: right; margin-top: 10px; padding: 10px; color: #fff}

#nav ul {background-color: #390086; overflow: hidden;}
#nav ul li {display: inline; float: left; margin-left: 25px}
#nav ul li a {display: block; color: #fff; padding: 10px 0}
#nav ul li a:hover {text-decoration: underline;}

#content {clear: both; overflow: hidden; margin: 30px 0}
#content h2 {font-size: 16px; line-height: 16px; color: #390086}
#content h2 span {font-size: 14px; font-weight: normal;}
#content h2 span a {color: #390086}
#content .mensagens {clear: both; overflow: hidden;}
#content .mensagens p {clear: both; overflow: hidden; padding: 5px; margin: 5px 0; border: 1px solid #D0F1A6; background-color: #E5F8CE; color: #62B548; font-size: 12px; cursor: pointer;}
#content .mensagens .erro {background-color: #FAD0D0; border-color: #F6ABAB; color: #B01717}
#content .filtro {margin-top: 15px; clear: both; overflow: hidden;}
#content .filtro div {float: left; margin-right: 10px; font-size: 12px}
#content .filtro div label {display: block; clear: both; margin-bottom: 5px}
#content .filtro div input,
#content .filtro div select {display: block; clear: both; width: 150px; padding: 5px; color: #777; border: 1px solid #ccc}
#content .filtro .submit input {width: auto; background-color: #fff; cursor: pointer; margin-top: 19px; padding: 4px 5px}
#content table {border-collapse: collapse; margin-top: 20px; border: 1px solid #ccc}
#content table thead th {border: 1px solid #ccc; text-align: left; padding: 5px 20px; color: #666; background-color: #eee;}
#content table thead .center {text-align: center; padding: 5px 0}
#content table tbody td {background-color: #fff; border: 1px solid #ccc; padding: 5px 20px; color: #777}
#content table tbody td a {color: #777}
#content table tbody td a:hover {text-decoration: underline;}
#content table tbody td .ativar {background: url("../img/icon-ativar.png") no-repeat; display: block; width: 16px; height: 16px;}
#content table tbody td .inativar {background: url("../img/icon-inativar.png") no-repeat; display: block; width: 16px; height: 16px;}
#content table tbody td .adicionar {background: url("../img/icon-adicionar.png") no-repeat; display: block; width: 16px; height: 16px;}
#content table tbody td .remover {background: url("../img/icon-remover.png") no-repeat; display: block; width: 16px; height: 16px;}
#content table tbody td .ativar span,
#content table tbody td .inativar span,
#content table tbody td .adicionar span,
#content table tbody td .remover span {display: none}
#content .form {margin-top: 20px}
#content .form div {margin: 10px 0; clear: both; overflow: hidden;}
#content .form label {display: block; float: left; min-width: 150px; line-height: 26px}
#content .form label.error {margin-left: 10px; font-size: 12px; color: #390086}
#content .form input,
#content .form select {display: block; float: left; margin-left: 10px; width: 200px; padding: 5px; color: #777; border: 1px solid #ccc}
#content .form input.error,
#content .form select.error {border-color: #390086}
#content .form .submit input {margin: 0; width: auto; background-color: #fff; cursor: pointer;}
#content table tbody td input,
#content table tbody td select {width: 100% !important; margin-left: 0 !important}

#footer {clear: both; overflow: hidden}
#footer .wrap {border-top: 1px solid #ccc; font-size: 12px; padding-top: 5px}